@{
    ViewBag.Title = "Drink N Code";
}

<h1 class="text-center">Welcome to the best place for all kind of Drinks</h1>

<div >
    <img src="http://www.vancitybuzz.com/wp-content/uploads/2014/03/shutterstock_167718563-984x500.jpg" class="img-responsive center-block">
</div>

<p style="font-size:22pt">
    @Html.ActionLink("See all recipies", "List", "Article")
</p>
