@{
    ViewBag.Title = "Drink N Code";
}

<h1 class="text-center">Welcome to the best place for all kind of cocktails recipes</h1>
<h2 class="text-center">We are young people who loves to code and drink. So please enjoy out first project where we mix our two hobbies.</h2>

<a href="/Article/List">
    <img class="center-block" src="http://static.wixstatic.com/media/265c80_da0a427e1a11453eb892d9e008b0d575~mv2.jpg"/>
    </a>
