@{
    ViewBag.Title = "Drink N Code";
}

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/Article/List">
                    <img class="img-responsive" src="http://static.wixstatic.com/media/265c80_da0a427e1a11453eb892d9e008b0d575~mv2.jpg" />
                </a>
                <article>
                    <header>
                        <h1></h1>
                    </header>
                    <p></p>
                    <small></small>
                    <footer></footer>
                </article>
            </div>
            <div class="col-md-4">
                <article>
                    <header>
                        <h1 class="text-center">Welcome to the best place for all kind of cocktails recipes</h1>
                        <h2 class="text-center">We are young people who loves to code and drink. So please enjoy out first project where we mix our two hobbies.</h2>
                    </header>
                    <p>
                    </p>
                    <small></small>
                    <footer></footer>
                </article>
            </div>
            <div class="col-md-4">
                <article>
                    <header>
                        <h1>Автори:</h1>
                    </header>
                    <img class="img-responsive" src="https://scontent-otp1-1.xx.fbcdn.net/v/t31.0-8/q81/s960x960/12768173_10153947802501796_4652975723811131380_o.jpg?oh=7993c0eb1adbbb998c94a49ea50c08d6&oe=5993D5DB" />
                    <small>Калин Яворов</small>
                    <img class="img-responsive" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/14650733_1634420026583608_1796983571840479318_n.jpg?oh=5a51db8e9c656a52db4085168794caab&oe=598C48DF" />
                    <small>Николай Деликостов</small>
                    <footer></footer>
                </article>
            </div>
        </div>
    </div>
</main>
