@{
    ViewBag.Title = "Drink N Code";
}

<h1 class="text-center">Welcome to the best place for all kind of Drinks</h1>


    <div class=""  style="background-image: url('http://www.vancitybuzz.com/wp-content/uploads/2014/03/shutterstock_167718563-984x500.jpg')"></div>


<p style="font-size:22pt">
    @Html.ActionLink("See all recipies", "List", "Article")
</p>
